.list{
    height: 100vh;
    background-color: black;
    z-index: 9900;
    position: fixed;
    top: 0;
    color: white;
    
  
}
.sideBar ul {
    list-style-type: none;
    
}
.sideBar ul li a{
   text-decoration: none;
  color: white;
}
.sideBar ul li {
    padding: 8px;
}
.open{
    z-index: 9900;
    top: 0px;
    background-color: aqua;
    width: auto;
    height: 100vh;
    
}
h3{
    color: #ffff;
    
}
i{
    color: #ffff;
}
.navbar{
   right: 0;
   background-color: #ffff;
}
a{
    text-decoration: none;
  color: white;
  font-size: 20px;
}
h2{
    color: white;
}
p{
    color: white;
}
.loading{
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color:black;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 9000000000000;
}
.loader {
    color: #ffffff;
    font-size: 70px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
   